<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">Car List</i>
      </a>
    </li>
    <li>
      <a routerLink="add">
        <i class="material-icons">Add Car</i>
      </a>
    </li>
    <li>
      <a routerLink="change-owner">
        <i class="material-icons">Change Owner</i>
      </a>
    </li>
    <li>
      <a routerLink="change-color">
        <i class="material-icons">Change Color</i>
      </a>
    </li>
    <li>
      <a routerLink="search-by-owner">
        <i class="material-icons">Search car by owner</i>
      </a>
    </li>
    <li>
      <a routerLink="car-history">
        <i class="material-icons">Car History</i>
      </a>
    </li>
    <li>
      <a routerLink="who-is-me">
        <i class="material-icons">Who Is Me</i>
      </a>
    </li>
    <li>
      <a routerLink="block-view">
        <i class="material-icons">Block View</i>
      </a>
    </li>

  </ul>
</nav>
